<p-toast></p-toast>
<div class="card bg-card w-full">
    <div class="card-title">
        <div class="text-center text-color-secondary">
            <span class="mr-2 text-2xl" >รายการบริการ</span>

        </div>
    </div>
    <div class="card-boby">
        <p-table [value]="services" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:72px;">            <button type="button" pButton pRipple icon="pi pi-plus" class="mr-2 p-button-raised p-button-rounded p-button-success"
                        (click)="displayFormAdd()" ></button></th>
                    <th>เพิ่มบริการ</th>
                    <th style="width:160px;">สถานะการใช้งาน</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-services>
                <tr>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-pencil" class="mr-2 p-button-warning p-button-raised" (click)="displayFormEdit(services)"></button>

                    </td>
                    <td>{{services.service_type_name}}</td>
                    <td>
                        <button *ngIf="!services.is_active" type="button" pButton pRipple icon="pi pi-times-circle" class="mr-2 p-button-danger p-button-raised" (click)="enable(services.service_type_id)"><span class="pl-2">ปิดใช้งาน</span></button>
                        <button *ngIf="services.is_active" type="button" pButton pRipple icon="pi pi-check-circle" class="mr-2 p-button-success p-button-raised" (click)="disable(services.service_type_id)"><span class="pl-2">เปิดใช้งาน</span></button>
                    </td>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="displayForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <span *ngIf="isAdd">เพิ่ม[บริการ]</span>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        <span *ngIf="isEdit">แก้ไขบริการ</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="isAdd" class="p-fluid">
            <div class="p-field">
                <label for="service_name">เลือกคลินิค</label>
                <br>
                
                <p-dropdown [options]="clinics" [(ngModel)]="selectedClinic" optionLabel="service_name"  optionValue="service_id">
                </p-dropdown>
            
                <br>
                <label for="service_name">ชื่อบริการ</label>
                <input type="text" id="service_name" [(ngModel)]="serviceName" pInputText>
                <label for="note">หมายเหตุ</label>
                <br>
                <textarea ng-model="myTextarea" rows="5" cols="30" placeholder="Your Message" [(ngModel)]="serviceNote"> </textarea>
            </div>
        </div>
        <div *ngIf="isEdit" class="p-fluid">
            <div class="p-field">
                <label for="service_name">เลือกคลินิค</label>
                <br>
                
                <p-dropdown [options]="clinics" [(ngModel)]="selectedClinic" optionLabel="service_name"  optionValue="service_id">
                </p-dropdown>
                <label for="service_name">ชื่อบริการ</label>
                <input type="text" id="service_name" [(ngModel)]="serviceNameEdit" pInputText>
                <label for="note">หมายเหตุ</label>
                <br>
                <textarea ng-model="myTextarea"  name="serviceNote" rows="5" cols="30" placeholder="Your Message" [(ngModel)]="serviceNote"> </textarea>
               
            </div>
            <div class="p-field">
                <label for="service_name">สถานะการใช้งาน</label>
                <div class="p-formgroup-inline">
                    <p-inputSwitch [(ngModel)]="serviceActiveEdit"></p-inputSwitch>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
       
        <button *ngIf="isAdd" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success"  (click)="save()"  label="เพิ่มรายการ">
            <p-progressSpinner *ngIf="isSpiner" styleClass="w-4rem h-4rem" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner></button>
        <button *ngIf="isEdit" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success"  (click)="update()" label="บันทึกแก้ไข"></button>
    </ng-template>
</p-dialog>
