<p-blockUI [target]="pnl" [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner" style="font-size: 15rem;color:azure"></i>
</p-blockUI>
<div #pnl class="grid mx-2">
    <div *ngFor="let s of listServices" class="col-12 lg:col-3 md:col-6 sm:col-12" (click)="calendar(s.service_type_id)">
            <div class="card" >
                <h5>{{s.service_name}}</h5>
                <div class="flex flex-wrap align-items-center justify-content-around gap-7 ">
                    <div class="flex flex-column align-items-center justify-content-center cursor-pointer ">
                        <span class="font-bold">{{s.service_type_name}}</span>
                        <span class="text-color-secondary text-sm">{{s.note}}</span>
                    </div>
                </div>
            </div>    
    </div>
</div>
